@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(254, 255, 253, 0.15);
  }
  